nav img {
  height: 40px;
  width: 40px;
}

span {
  color: white;
  padding-left: 5px;
}

h1 {
  text-align: center;
}

form {
  padding-right: 100px;
}

.itemCount span {
  color: black;
  padding: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cards div {
  align-items: center;
  justify-content: center;
}

.cards img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detalles_productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.detalles_productos img{
  max-height: 350px;
}